<!-- Menu de navegación -->
<section class="menu-navigation" style="width: 100% !important">
    <div class="img-people">
        <img src="./assets/img/people.svg" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3 container-logo-incubapp">
                <img src="./assets/logo/logoColor 1.svg" class="logo-incubapp" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-9">
                <ul id="menu-nav">
                    <li><a class="link-menu-nav" [routerLink]="['./']" fragment="sabias">¿Sabías que?</a></li>
                    <li>
                        <a class="link-menu-nav" [routerLink]="['./']" fragment="nosotros">Nosotros</a></li>
                    <li>
                        <a class="link-menu-nav" [routerLink]="['./']" fragment="casos">Portafolio de Proyectos</a></li>
                    <li>
                        <a class="link-menu-nav" [routerLink]="['./']" fragment="colegios">Para colegios</a></li>
                    <li>
                        <a class="link-menu-nav" [routerLink]="['./']" fragment="talleres">Talleres</a></li>
                    <li>
                        <a class="link-menu-nav" [routerLink]="['./']" fragment="contactanos">Contáctanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Section 1 -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 section-transformation">
                <div class="content-transformation">
                    <div class="card card-transformation">
                        <div class="content-transformation">
                            <div class="content-card-transformation break-word">
                                Transformación de la <strong class="text-color-orange">economía en la era digital</strong> desde sus cimientos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section 2 -->
<section class="section-2">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6" style="text-align: center; display: flex; align-items: center; justify-content: center;">
                <div class="row justify-content-center">
                    <div class="col-11">
                        <img src="./assets/img/Mask Group.svg" class="img-section-2" alt="">
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-5" style="text-align: center;">
                <div class="card-section-2">
                    <div class="row">
                        <div class="col-12 title-card-section-2" style="font-size: 28px;">
                            Para el 2025 habrá 75 dispositivos conectados a internet por cada persona en el planeta.
                            <div class="separator-orange-section-2"></div>
                        </div>
                        <div class="col-12 text-card-section-2">
                            Los automóviles serán autónomos, viviremos en ciudades inteligentes, todos los electrodomésticos del hogar tendrán sus propios procesadores y estarán conectados a la nube.

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section 3 -->
<section class="section-3" id="sabias">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-8 container-info-section-3">
                <div class="row">
                    <div class="col-12 title-card-section-3">
                        ¿Sabías qué?
                        <div class="separator-orange-section-3"></div>
                    </div>
                    <div class="col-12 text-card-section-3">
                        En Estonia, un grupo de 4 desarrolladores de software y un administrador de empresas crearon Skype en el año 2003. Ocho años más tarde, la empresa fue vendida a Microsoft por 8.500 millones de dólares, generando empleo para cientos de personas y permitiendo
                        a decenas de estudiantes aprender tecnologías de la información a través de las becas Skype y la Fundación Study IT in Stonia.
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 container-image-phone" style="text-align: right !important;">
                <img src="./assets/img/phone.png" class="img-phone-section-3" alt="">
            </div>
            <div class="col-12 ">

            </div>
        </div>
    </div>
</section>
<!-- Section 4 -->
<section class="section-4" id="nosotros">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 title-section-4">
                Siguiendo este mismo modelo, nace en julio de 2019 <strong class="text-color-orange">IncubApp Venture Capital.</strong>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-10 col-sm-10 col-md-10 col-lg-10 text-section-4">
                Con el apoyo de 2 arquitectos de software expertos en computación en la nube con AWS, se han vinculado más de 214 estudiantes universitarios y de colegios al semillero de desarrollo de software.
            </div>
        </div>
        <br>
        <br>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 card-section-4">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5" style="text-align: center;">
                        <video src="./assets/videos/richard-example.mp4" width="100%" controls></video>
                        <button class="button-see-video-external"><i class="far fa-play-circle" style="margin-right: 15px;"></i>Ver video</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                        <div class="row">
                            <div class="col-12 title-card-section-4 ">
                                Richard Freeman
                            </div>
                            <div class="col-12 subtile-card-section-4 ">
                                Arquitecto de software
                                <div class="separator-orange-section-4"></div>
                            </div>
                            <div class="col-12 text-card-section-4  ">
                                Es arquitecto de software con 15 años de experiencia. Posee un doctorado en Machine Learning de la Universidad de Manchester de Inglaterra. Es autor del libro “Building Serverless Microservices in Python" y del curso “Serverless Microservices on AWS in
                                10 Hours” disponible en la plataforma Udemy.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10 card-section-4">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-5" style="text-align: center;">
                        <!--
   <video src="./assets/videos/richard-example.mp4" width="100%" controls></video>
                        -->

                        <img src="./assets/img/walter.png" width="100%" alt="">
                        <button class="button-see-video-external"><i class="far fa-play-circle" style="margin-right: 15px;"></i>Ver video</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-7">
                        <div class="row">
                            <div class="col-12 title-card-section-4 ">
                                Walter Llano
                            </div>
                            <div class="col-12 subtile-card-section-4 ">
                                Arquitecto de software
                                <div class="separator-orange-section-4"></div>
                            </div>
                            <div class="col-12 text-card-section-4  ">
                                Es arquitecto de software con más de 15 años de experiencia. Es experto en implementación de sistemas escalables con Amazon Web Services. Posee una certificación en Java y 5 certificaciones de Amazon:
                                <ul id="menu-card-section-4">
                                    <li><i class="fas fa-check icon-list-section-5"></i>Java SE 8 Programmer</li>
                                    <li><i class="fas fa-check icon-list-section-5"></i>AWS Certified Solutions Architect Associate</li>
                                    <li><i class="fas fa-check icon-list-section-5"></i>AWS Certified Solutions Architect Professional</li>
                                    <li><i class="fas fa-check icon-list-section-5"></i>AWS Certified Developer Associate</li>
                                    <li><i class="fas fa-check icon-list-section-5"></i>AWS Certified SysOps Administrator</li>
                                    <li style="padding-bottom: 0 !important;"><i class="fas fa-check icon-list-section-5"></i>AWS Certified Security Specialty</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section 5 -->
<section class="section-5" id="casos">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 title-section-5">
                Portafolio de Proyectos
            </div>
            <div class="col-12 col-sm-10 col-md-9 col-lg-7 text-section-5">
                Construimos la aplicación móvil RankCV para hacer seguimiento al progreso de los estudiantes e identificar aquellos con la menor curva de aprendizaje. Gracias a esta app, hemos seleccionado a los mejores estudiantes, con los cuales lanzamos 4 proyectos
                de Startup en el segundo semestre del 2019:
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="card-section-5">
                    <div class="row">
                        <div class="col-12 logo-card-section-5">
                            <img src="./assets/logo/RankCV.svg" height="68px" alt="">
                        </div>
                        <div class="col-12 text-card-section-5">
                            Permite a las empresas ubicar el mejor talento para para los emprendimientos tecnológicos del mañana.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="card-section-5">
                    <div class="row">
                        <div class="col-12 logo-card-section-5">
                            <img src="./assets/logo/take-one.svg" height="68px" alt="">
                        </div>
                        <div class="col-12 text-card-section-5">
                            Plataforma disruptiva que permitirá incorporar el internet de las cosas para la medición del desempeño de los artistas en los torneos deportivos.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="card-section-5">
                    <div class="row">
                        <div class="col-12 logo-card-section-5">
                            <img src="./assets/logo/zoa.svg" height="68px" alt="">
                        </div>
                        <div class="col-12 text-card-section-5">
                            Una app que te permitirá tener al alcance de la mano los veterinarios y paseadores para el bienestar de tu mascota.</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="card-section-5">
                    <div class="row">
                        <div class="col-12 logo-card-section-5">
                            <img src="./assets/logo/pidepan.svg" height="68px" alt="">
                        </div>
                        <div class="col-12 text-card-section-5">
                            Permite a los panaderos expandir sus mercados a través de una app de preventas y un servicio de telemercadeo.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--  Section 6 -->
<section id="colegios">
    <div class="container">
        <div class="row">
            <div class="col-12 title-section-6">
                Para colegios
            </div>
            <div class="col-12" style="text-align: center !important; display: flex; justify-content: center;">
                <div class="separator-orange-section-6"></div>
            </div>
        </div>
        <div class="row justify-content-around" style="display: flex; align-items: center;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5">
                <div class="row align-items-center ">
                    <div class="col-12 subtitle-section-6">
                        Semilleros en colegios
                    </div>
                    <div class="col-12">
                        <div class="separator-orange-section-6"></div>
                    </div>
                    <div class="col-12 text-section-6">
                        Para finales del 2019 empezamos a expandir los semilleros a los colegios para acortar la brecha de los estudiantes hasta su primer emprendimiento, permitiéndoles aprovechar aún más las materias de la universidad.
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5">
                <img src="./assets/img/section-6-img-1.svg" class="imgs-section-6" alt="">
            </div>
        </div>
        <div class="row justify-content-around" style="display: flex; align-items: center;">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5">
                <img src="./assets/img/section-6-img-2.svg" class="imgs-section-6" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5">
                <div class="row align-items-center ">
                    <div class="col-12 subtitle-section-6">
                        Taller de <strong class="text-color-orange">liderazgo</strong>
                    </div>
                    <div class="col-12">
                        <div class="separator-orange-section-6"></div>
                    </div>
                    <div class="col-12 text-section-6">
                        <p>El proceso empieza por el <strong>“Taller de liderazgo y trabajo en equipo bajo metodología Scrum”</strong>. Bajo la guía de uno de los cofundadores de las Startup’s, aprenderán las metodologías ágiles que son usadas en las grandes
                            empresas de software como Amazon. Se enfrentarán a un reto en una situación real con restricciones donde deberán trabajar en equipo para satisfacer las necesidades del Product Owner (papás).</p>
                        <p>A todos los estudiantes que pasen este taller, les será ofrecida una beca para ser parte del semillero de desarrollo de aplicaciones móviles. A través de RankCV, elegiremos a los mejores estudiantes para ser parte de las Startup’s
                            que lanzaremos en el 2020. Finalmente, ofreceremos una beca universitaria con todos los gastos de matrícula pagos para estudiar Ingeniería de Sistemas en una Universidad Pública en Colombia.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="text-align: right; margin-top: -30px;">
                <img src="./assets/background/Ellipse 5.svg" height="112px" alt="">
            </div>
        </div>
    </div>
</section>
<!-- section 7 -->
<section class="section-7" id="talleres">
    <div class="container">
        <div class="row">
            <div class="col-12 title-section-7">
                Dinámica del taller
            </div>
            <div class="col-12" style="text-align: center !important; display: flex; justify-content: center;">
                <div class="separator-orange-section-6"></div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-11 col-lg-9 col-xl-8" style="margin-bottom: 50px;">
                <video src="./assets/videos/taller.mp4" width="100%" controls></video>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-12" style="text-align: left;">
                <img src="./assets/background/Ellipse 8.svg" height="112px" alt="">
            </div>

        </div>
    </div>
</section>
<div style="text-align: right; margin-top: -112px;">
    <img src="./assets/background/Ellipse 11.svg" style="position: relative ; right: 0px;" height="112px" alt="">
</div>
<!-- Section 8 -->
<section class="section-8" id="contactanos">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 title-section-8">
                Contáctanos
            </div>
            <div class="col-12 text-section-8">
                Si desea inscribir a su hijo, deje sus datos en el siguiente formulario y uno de nuestros asesores se pondrá en contacto con usted para explicarle nuestra metodología.
            </div>
            <div class="col-12 col-sm-12 col-md-11 col-lg-10 col-xl-10">
                <div class="card-section-8">
                    <div class="row justify-content-around">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">

                            <mat-horizontal-stepper #stepper>
                                <mat-step>
                                    <ng-template matStepLabel>Datos del Estudiante</ng-template>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group full-width">
                                                <label style="color: white;" required>Nombre completo *</label>
                                                <input type="text" class="form-control" required>
                                                <small *ngIf="asd == true" id="emailHelp" style="color: #f04141 !important" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group full-width">
                                                <label style="color: white;">Correo electrónico</label>
                                                <input type="text" class="form-control">
                                                <small *ngIf="asd == true" id="emailHelp" style="color: #f04141 !important" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group full-width">
                                                <label style="color: white;">Teléfono *</label>
                                                <input type="number" class="form-control">
                                                <small *ngIf="asd == true" id="emailHelp" style="color: #f04141 !important" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group full-width">
                                                <label style="color: white;">Institución educativa *</label>
                                                <input type="text" class="form-control">
                                                <small *ngIf="asd == true" id="emailHelp" style="color: #f04141 !important" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group full-width">
                                                <label style="color: white;">Edad *</label>
                                                <input type="number" class="form-control">
                                                <small *ngIf="asd == true" id="emailHelp" style="color: #f04141 !important" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group full-width">
                                                <label style="color: white;">Grado *</label>
                                                <input type="text" class="form-control">
                                                <small *ngIf="asd == true" id="emailHelp" style="color: #f04141 !important" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <small style="color: white;">*: Campo obligatorio.</small>
                                        </div>
                                        <div class="col-12" style="text-align: right !important;">
                                            <button class="button-next-step" matStepperNext>
                                                Siguiente
                                                <i class="fas fa-arrow-right" style="margin-left: 10px;"></i>
                                            </button>
                                        </div>
                                    </div>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Datos de los Padres</ng-template>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group full-width">
                                                <label style="color: white;">Nombre Completo *</label>
                                                <input type="text" class="form-control">
                                                <small *ngIf="asd == true" id="emailHelp" style="color: #f04141 !important" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group full-width">
                                                <label style="color: white;">Correo electrónico</label>
                                                <input type="email" class="form-control">
                                                <small *ngIf="asd == true" id="emailHelp" style="color: #f04141 !important" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group full-width">
                                                <label style="color: white;">Teléfono *</label>
                                                <input type="email" class="form-control">
                                                <small *ngIf="asd == true" id="emailHelp" style="color: #f04141 !important" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="full-width">
                                                <label style="color: white;">Me interesa *</label>
                                                <mat-form-field class="form-group full-width" appearance="outline">
                                                    <mat-select class="" [formControl]="interest" multiple>
                                                        <mat-option value="Recibir más información">Recibir más información</mat-option>
                                                        <mat-option value="Realizar el pago del taller">Realizar el pago del taller</mat-option>
                                                        <mat-option value="Reservar un cupo">Reservar un cupo</mat-option>
                                                    </mat-select>
                                                    <small *ngIf="asd == true" id="emailHelp" style="color: #f04141 !important" class="form-text text-muted">We'll never share your email with anyone else.</small>

                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6" style="text-align: center; color: white !important;" color>
                                            <mat-radio-group aria-label="Select an option">
                                                <mat-radio-button style="margin-right: 15px;" value="Madre">Madre </mat-radio-button>
                                                <mat-radio-button value="Padre">Padre</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div class="col-12 col-lg-12">
                                            <small style="color: white;">* : Campo obligatorio.</small>
                                        </div>
                                        <div class="col-12" style="text-align: right !important;">

                                            <button class="button-next-step" matStepperPrevious style="margin-right: 15px;">
                                                <i class="fas fa-arrow-left" style="margin-right: 10px;"></i>
                                                Back
                                            </button>
                                            <button class="button-send-message" matStepperNext>
                                                <i class="far fa-paper-plane" style="margin-right: 10px;"></i>
                                                Enviar
                                                
                                            </button>
                                        </div>
                                    </div>
                                </mat-step>
                            </mat-horizontal-stepper>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row size-row-footer">
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 container-info-footer">
                <img src="./assets/logo/LogoBlanco 1.svg" height="41px" class="logo-white" alt="">
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 container-info-footer">
                Copyright © 2018 Incubapp Todos los derechos reservados.
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 container-info-footer">
                <a href=""><i style="color: white; font-size: 30px;  margin-left: 20px;" class="fab fa-facebook"></i></a> <a style="color: white; font-size: 30px;  margin-left: 20px;" href=""><i class="fab fa-instagram"></i></a ><a style="color: white; font-size: 14px;  margin-left: 20px;">Términos y condiciones</a>
                <a style="color: white;font-size: 14px; margin-left: 20px;">Acerca de nosotros</a>
            </div>
        </div>
    </div>
</footer>
<!--Scroll to top-->
<button [ngClass]="{'show-scroll': showScroll}" (click)="scrollToTop()" [routerLink]="['']" fragment="" class="scroll-to-top">
    <img src="./assets/img/back-to-top.svg" alt="">
</button>